.err-title {
  margin-top: 64px;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}

.err-message {
  font-size: 32px;
  line-height: 1.6;
}

.link {
  font-size: 32px;
  line-height: 1.6;
  color: red;
  cursor: pointer;
}
