@media screen and (max-width: 1200px) {
  .movie-container {
    width: 200px;
    margin: 8px;
  }
}

@media screen and (max-width: 768px) {
  .movie-info {
    flex-direction: column;
    text-align: center;
  }

  .movie-info h4 {
    margin-bottom: 10px;
  }

  .movie-info span {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .movie-container {
    width: 100%;
    max-width: 400px;
    margin: 8px 0;
  }

  .movie-container > img {
    height: auto !important;
  }
}
.movie-container {
  width: 250px;
  margin: 16px;
  background-color: #373b69;
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in-up 0.5s ease-in-out 0.2s forwards;
}
.movie-container > img {
  max-width: 100%;
}
.movie-info {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.movie-info h4 {
  margin: 0;
}

.movie-info span {
  margin-left: 3px;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
